.main-head-nav{
background-color: #4dad4d;
    height: 50px;
}
.router-link-active{
    border-bottom: thick solid #4dad4d 4px;
    // border-style: ;
}
.class-div-home{
    color: #606060;
    font-size: 30px;
    padding-left: 12px;
}
.log-out-style{
    color: #606060;
    font-size: 25px;
    text-align: right;
    position: relative;
    top: -34px;
    right: 14px;
}