.fa-ellipsis-v{
    cursor: pointer;
    /* padding-left: 5px; */
    /* padding-right: 1px; */
    font-size: 15px;
    color: #606060;
}
.anchor-ellipsis{
    padding-left: 9px !important;
    padding-right: 9px !important;
    cursor: pointer;
}
.table-responsive-own{
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.custom-col-md-12{
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
.edit-Option
{
    cursor: pointer;
    font-size: 16px;
}
.custom-table-responsive td , .custom-table-responsive th{
text-align: center;
}


