.required-star {
    font-size: 15px;
    color: #e40707;
    position: relative;
    top: 0px;
  }
  .mar {
    margin: 5px;
  }
  

  // Drag and Drop

  .error {
    color: #f00;
}

.dragarea {
    font-size: 1.5rem;
    border: 3px solid #bbb;
    padding: 1.5rem;
    background-color: #fff;
    color: #bbb;
}

.droparea {
  font-size: 1.5rem;
  border: 3px dashed #bbb;
  padding: 1.5rem;
  background-color: #eff;
  color: #aaa;
}
.choose-upload-selection{
    float: left;
    cursor: pointer;
    font-size: 18px;
}
.main-heading{
  text-align: center;
  font-size: 25px;
  color:#606060;
}